.app-container{
    max-width: 1400px;
    padding: 1rem;
    margin: auto;
}
.cripto-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1.5rem;
}
.titulo{
    color: aqua;
    text-align: center;
}

